<div class="card castings">
  <%= render partial: "title" %>
  <%= render partial: "menu_buttons" %>

  <% if @casting.processing_error_status? %>
    <%= render partial: "status_errors", locals: {title: t(".error_title")} %>
  <% else %>
    <%= render partial: "results_processing_status_tracker" %>
  <% end %>

</div>
