$primary-color: #039be5;

.castings {
  &.edit-selection-criteria {
    .flash.callout.alert{
      display: none;
    }
  }

  .with-border {
    border: 2px solid $primary-color;
  }
  .total-participants-badge {
    background-color: $primary-color;
    float: right;
    height: 116px;
    width: 116px;
  }
  .results{
    .total-participants-badge {
      background-color: $primary-color;
      float: right;
      height: 145px;
      width: 416px;
      
      .margin-y-auto{
        margin: auto 0;
      }
  
      .bolder{
        font-weight: bolder;
      }
    }
  }


  .selection-criteria-list {
    max-height: 550px;
    overflow-y: auto;

    input[type='number'] {
      width: 100px;
    }

    .criteria-error.form-error {
      margin-top: 0;
    }
  }
  .selection-criteria-index ul {
    list-style: decimal;

    //a {
    //  color: $primary-color;
    //}
  }
}